body{
	margin: 0px;
	padding: 0px;
	background-image: url("../img/wr.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}

.wrap{
	background-color: #000;
	height: 400px;
	width: 600px;
	color: green;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	opacity: 0.9;
}